buckets:
  refined_data_global: fcst-refined-demand-forecast-dev
  refined_data_specific: fcst-refined-demand-forecast-dev
paths:
  refined_global_path: global/
  refined_specific_path: specific/
refining_specific_parameters:
  rec_lockdowns: True
  rec_cold_start: True
  rec_cold_start_length: 156
  rec_cold_start_group:
  - family_id
modeling_parameters:
  role: arn:aws:iam::150258775384:role/FORECAST-SAGEMAKER-DEV
  tags:
    Key: PROJECT
    Value: demandforecastEU
  train_use_spot_instances: False
  outputs_stacking: True
  short_term_algorithm: deepar
  long_term_algorithm: hw
  smooth_stacking_range: (10, 16)
  algorithm:
    deepar:
      image_name: 224300973850.dkr.ecr.eu-west-1.amazonaws.com/forecasting-deepar:1
      hyperparameters:
        time_freq: W
        prediction_length: 16
        context_length: 52
        epochs: 100
        likelihood: student-T
        learning_rate: 1e-3
        mini_batch_size: 512
        num_layers: 2
        num_cells: 40
        dropout_rate: 0.1
        cardinality: auto
        embedding_dimension: 20
        num_dynamic_feat: auto
        num_eval_samples: 100
        test_quantiles:
        - 0.1
        - 0.2
        - 0.3
        - 0.4
        - 0.5
        - 0.6
        - 0.7
        - 0.8
        - 0.9
      train_instance_count: 1
      train_instance_type: ml.p3.2xlarge
      train_max_instances: 20
      transform_instance_count: 1
      transform_instance_type: ml.c5.9xlarge
      transform_max_instances: 20
      max_concurrent_transforms: 36
    hw:
      image_name: 150258775384.dkr.ecr.eu-west-1.amazonaws.com/statsmodels_sagemaker:latest
      hyperparameters:
        prediction_length: 104
        context_length: 156
        trend: None
        damped_trend: False
        seasonal: mul
        seasonal_periods: 52
        smoothing_level: 0.02
        smoothing_trend: 0
        smoothing_seasonal: 0.5
        damping_trend: 0
      train_instance_count: 1
      train_instance_type: ml.c5.18xlarge
      train_max_instances: 20